<section class="content history">
  <ul>
    {{#each sortedModel as |item|}}
      {{history-item item=item removeItem="removeItem"}}
      {{#link-to 'show' item.id}}Download item{{/link-to}}
    {{/each}}
  </ul>
</section>
